@{
    ViewData["Title"] = "Home";
}
@{
    Layout = "_Layout";
}


<div class="text-center py-5">
    <h1 class="display-5 fw-bold text-primary">Welcome to the Library</h1>
    <p class="lead text-secondary">Manage books, borrow and return easily.</p>
    
</div>
